.head {
  color: green;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.head-img {
  padding-left: 670px;
}

.abt-enjoy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 100px;
}

.unsplash {
  border-radius: 100px;
}

.enjoy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 45px;
  color: green;
}

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 100px;
}

.read {
  height: 50px;
  width: 100px;
  background-color: green;
  color: brown;
  border: none;
  margin-left: 45%;
}

.us {
  font-size: 40px;
  color: green;
}

.we {
  font-size: 30px;
}

.spe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: green;
  font-size: 50px;
}

.un {
  background-color: aliceblue;
}

@media screen and (max-width: 600px) {
  .abt-enjoy {
    flex-direction: column;
  }
  .why {
    flex-direction: column;
  }
  .why .un {
    margin-bottom: 30%;
  }
  .hero-section-image {
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .hero-section-image .head-img {
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .uss-right .we {
    font-size: 14px;
  }
  .read {
    margin-bottom: 20px;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
  }
  .footer .about-quick-links {
    display: none;
  }
  .footer .pin {
    margin-left: 20%;
  }
  .enjoy {
    font-size: 10px;
  }
}
header {
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 30px;
  display: inline-block;
}
nav a:hover {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}

.nav-content {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.reg {
  display: flex;
  gap: 30px;
}
.reg ul {
  display: flex;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 50%;
  }
  .container ul .fa-bars {
    margin-right: 300px;
  }
  .container ul button {
    display: none;
  }
  .container ul li a {
    display: none;
  }
  .fa-bars {
    display: inline-block;
  }
  .head {
    font-size: 30px;
  }
  .enjoy {
    font-size: 30px;
  }
  .spe {
    font-size: 20px;
  }
  #logo {
    width: 70px;
  }
  .reg button {
    padding: 2px;
    font-size: 10px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 400px;
  background-color: green;
}
footer ul {
  list-style: none;
  gap: 50px;
}
footer a {
  text-decoration: none;
  color: black;
}

.names {
  display: flex;
  align-items: center;
  gap: 50px;
}

.n {
  width: 18em;
}

.plz {
  color: green;
  padding-left: 39em;
}

.abt-contact {
  font-size: 30px;
}

.b {
  width: 40em;
}

.messo {
  height: 100px;
  padding: 10px 50px;
}

.btn-sub {
  height: 50px;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: green;
  color: white;
  border: none;
}

@media screen and (max-width: 600px) {
  .about-contact {
    flex-direction: column;
  }
  .about-contact .names {
    flex-direction: column;
  }
  .about-contact .blanks {
    flex-direction: column;
  }
  .about-contact .blanks .subject {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .about-quick-links {
    display: none;
  }
  #el {
    margin-left: 20%;
  }
  .head {
    font-size: 20px;
  }
  .plz {
    font-size: 15px;
  }
}
.acc {
  color: green;
}

.sign {
  width: 40em;
  border-radius: 25px;
  height: 40px;
  padding-right: 30px;
}

.s {
  height: 50px;
  width: 30em;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: green;
  color: white;
  border-radius: 25px;
}

@media screen and (max-width: 600px) {
  .create {
    flex-direction: column;
  }
  .cre {
    flex-direction: column;
  }
  .sign {
    width: 20em;
  }
  .about-quick-links {
    display: none;
  }
  .s {
    height: 30px;
    width: 10em;
  }
}
.h1 {
  background-color: green;
  color: brown;
  width: 15em;
}

.t {
  width: 40em;
  border-radius: 25px;
  height: 30px;
  padding-left: 30px;
}

.y {
  margin-bottom: 20px;
}

.wel {
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .t {
    width: 25em;
  }
  .about-quick-links {
    display: none;
  }
}