.head-img {
  padding-left: 650px;
}

body {
  background-color: antiquewhite;
}

.enjoy {
  font-size: 45px;
  color: green;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
nav a:hover {
  background-color: green;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: yellow;
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.abt-contact {
  font-size: 30px;
}

.btn-sub {
  height: 50px;
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
nav a {
  text-decoration: none;
  color: #000;
  padding: 15px;
  display: inline-block;
}
nav a:hover {
  background-color: green;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 30px;
  color: green;
}

.about {
  padding: 30px 10px;
  margin-left: 2%;
}
.about h3 {
  font-size: 30px;
  color: green;
  background-color: yellow;
  text-align: center;
}

p {
  font-size: 20px;
}

.why {
  padding-right: 20px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 500px;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .about-us {
    flex-direction: column;
  }
}
.head {
  color: green;
  align-items: center;
  justify-content: centert;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
nav a:hover {
  background-color: green;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.juices {
  border-radius: 90px;
}

.value {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .head {
    font-size: 20px;
  }
  .index li {
    font-size: 10px;
  }
  .menu {
    width: 100%;
    flex-direction: column;
  }
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
nav a:hover {
  background-color: green;
}

h4 {
  font-size: 20px;
  color: green;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 40px;
}

.jarritos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.olena {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.anhdangihi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 500px;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .olena {
    flex-direction: column;
  }
  .jarritos {
    flex-direction: column;
  }
  .yearone {
    flex-direction: column;
  }
  .anhdangihi {
    flex-direction: column;
  }
  .img {
    flex-direction: column;
  }
}