@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

footer{
    @include flex(center,center);
    gap:400px;
    background-color: $green;

    ul{ list-style: none;
        gap:50px;
        
    }
    

    a{ text-decoration: none;
        color: black;        
    }
}