@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.head-img{
        padding-left: 650px; 
}
body{
    background-color:antiquewhite;
}
.enjoy{
    // padding-left: 650px;
    font-size: 45px;
    color: $green;
}