@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.names{
    @include flex(center,center);
    gap:50px;
}

.blanks{
    padding-left: 46em;
}

.abt-contact{
    font-size:30px;
}

.btn-sub{
    height: 50px;
    width: 100px;
    margin-left: 55em;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $green;
    color: $yellow;
    border: none;
    
}
