@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

//  .create{
//     padding-left: 45em;}

.acc{
    color: $green;
    



}

.sign{
width: 40em;
border-radius: 25px;
height: 40px;
padding-right: 30px;

}



.s{
    height: 50px;
    width: 30em;
   // margin-left: 60em;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $green;
    color:white;
    border-radius: 25px;
}


//media querries

@media screen and (max-width:600px) {
   .create{
   // @include flex(center,center);
   flex-direction: column;
      } 
   .cre{
    flex-direction: column;
   }
   .sign{
    width: 20em;
   }
   .about-quick-links{
    display: none;
   }

   .s{
    height: 30px;
    width: 10em;
   }
    }
