@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;


.h1{
    background-color: $green;
    color: $yellow;
    width: 15em;
   // padding-left: 50px;
    //margin-left:30em ;
}
.t{
    width: 40em;
    border-radius: 25px;
    height: 30px;
    //margin-left: 55em;
    padding-left: 30px;
}
.y{
    margin-bottom: 20px;
}

.wel{
    font-size: 1.5em;
   // padding-left: 32em;
}

//media querries
@media  screen and (max-width:600px) {
.t{
    width: 25em;
}
.about-quick-links{
    display: none;
}
}